@media screen and (max-width:999px) {
  .wide_area{
    width:100%;
  }

  .local_area{
    width:100%;
    margin: auto;
  }


  nav ul{
    display: flex;
    flex-direction: column;
  }
  nav li{
    text-align: center;
    width:100%;
  }

}
