<section id="footer">
	<div class="container">
		<h2> 관련 사이트 </h2>	
		<ul class="icons">
			<li><a href="https://github.com/ReDocuSpace/" class="icon brands fa-github"><span class="label">Github</span>
				ReDocuSpace
			</a></li>

			<li><a href="https://www.notion.so/8fc7f44e891944a88aecda16c85ba5e1" class="icon solid fa-book"><span class="label">Email</span>
				Notion
			</a></li>

			<li><a href="mailto:dlehrb103@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span>
				dlehrb103@gmail.com
			</a></li>
		</ul>
	</div>
</section>