<head>
    <meta charset="utf-8">

    <!-- Connect css -->
    <link rel="stylesheet" href="\assets\index\css\layout_style.css">
    <link rel="stylesheet" href="\assets\index\css\layout_desktop_style.css">
    <link rel="stylesheet" href="\assets\index\css\layout_mobile_style.css">
    <link rel="stylesheet" href="\assets\index\css\layout_full_style.css">

    <link rel="stylesheet" href="\assets\index\css\introduce_style.css">
    <!-- Connect js -->
    <script src="\assets\index\js\introduce.js" defer></script>

    <title>Re_Docu Space</title>
</head>