<!-- Header -->
<header>
    <div class="wide_area">
      <div class="local_area">
        <nav class="index_nav_list">
          <ul>
            <li class="navbar_button"><a href="/assets/index/post/post_index_page/introduce">Introduce</a></li>
            <li class="navbar_button"><a href="/assets/index/post/post_index_page/portfolio">Portfolio</a></li>
            <li class="navbar_button"><a href="/assets/index/post/post_index_page/project">Project</a></li>
            <li class="navbar_button"><a href="/assets/index/post/post_index_page/document">Document</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

