---
layout: default
---

 <!-- 포트폴리오 -->
 <div>
	<div class="wide_area">
	    <div class="local_area">
            <a href="/assets/index/post/post_index_page/index_introduce">
                <div class = "intro_contents">
                    
	                <div class="image_setup">
                        <img src="/assets/images/avatar.jpg">
                        <div class="txt">INTRODUCE</div>
                    </div>
                </div>    
            </a>
        </div>
    </div>
</div>

 <!-- 포트폴리오 -->
 <div>
	<div class="wide_area">
	    <div class="local_area">
            <a href="/assets/index/post/post_index_page/index_portfolio">
                <div class = "intro_contents">
	                <div class="image_setup">
                        <img src="/assets/images/avatar.jpg">
                        <div class="txt">PORTFOLIO</div>
                    </div>
                </div>    
            </a>
        </div>
    </div>
</div>

 <!-- 프로젝트-->
 <div>
	<div class="wide_area">
	    <div class="local_area">
            <a href="/assets/index/post/post_index_page/index_project">
                <div class = "intro_contents">
	                <div class="image_setup">
                        <img src="/assets/images/avatar.jpg">
                        <div class="txt">PROJECT</div>
                    </div>
                </div>    
            </a>
        </div>
    </div>
</div>
 <!-- 문서-->
 <div>
	<div class="wide_area">
	    <div class="local_area">
            <a href="/assets/index/post/post_index_page/index_document">
                <div class = "intro_contents">
	                <div class="image_setup">
                        <img src="/assets/images/avatar.jpg">
                        <div class="txt">DOCUMENT</div>
                    </div>
                </div>    
            </a>
        </div>
    </div>
</div>
<!-- 완료 -->